.dove-docs-content {
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: $docs-content-background;
    color: $docs-content-font-color;
}

.dove-docs-content__toolbar {
    height: $docs-content__toolbar-height;
    background: $docs-content__toolbar-background;
    color: $docs-content__toolbar-font-color;
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: $z-index-toolbar;
    border-bottom: $docs-content__toolbar-border-bottom;
}

.dove-docs-content__toolbar-content {
    margin: 0 auto;
    width: 100%; // max-width: rem-calc(1092px);
    padding-left: rem-calc(24px);
    padding-right: rem-calc(24px);
    display: flex;
    align-items: center;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dove-docs-content__toolbar-button{
    display: flex;
    margin-right: rem-calc(10px);
    .dove-docs-content__toolbar-button__icon{
        display: flex;
        width:rem-calc(25px);
        height: rem-calc(25px);
        border: rem-calc(1px) solid $md-grey-400;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .Backward{
        border-top-left-radius: rem-calc(5px);
        border-bottom-left-radius: rem-calc(5px);
    }
    .Forward{
        border-top-right-radius: rem-calc(5px);
        border-bottom-right-radius:  rem-calc(5px);
    }
}
.dove-docs-content__toolbar-search{
    display: flex;
    flex-direction: column;
    position: relative;
    .toolbar-search-wrap{
        display: flex;
        align-items:center;
        overflow: hidden;
        position: relative;
        padding:0 rem-calc(10px);
        width: rem-calc(320px);
        height: rem-calc(30px);
    }
    .toolbar-search-input {
        display: inline-flex;
        position: relative;
        width: 100%;
        height: rem-calc(28px);
        border: none;
        border-radius: rem-calc(5px);
        outline: none;
        font-size: inherit;
        color: inherit;
        font-family: inherit;
        letter-spacing: inherit;
        transition: all 0.2s ease;
        padding-left: rem-calc(22px);
        &::placeholder {
            opacity: 0;
        }
    }
    .toolbar-search-actions{
        position: relative;
        margin-right: -100%;
        transition: all 0.2s ease;
    }
    .toolbar-search-clear{
        position: absolute;
        height:rem-calc(18px);
        width: rem-calc(18px);
        top: 50%;
        transform: translate(-120%, -50%);
        border: 0;
        outline: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: all 0.1s ease;
        flex: none;
        &:after {
            content: '';
            position: absolute;
            width: rem-calc(2px);
            height: rem-calc(10px);
            background: white;
            transform: rotate(45deg);
            transform-origin: 50% 50%;
        }
        &:before {
            content: '';
            position: absolute;
            width: rem-calc(2px);
            height: rem-calc(10px);
            transform: rotate(-45deg);
            transform-origin: 50% 50%;
            background: white;
        }
    }
    .toolbar-search-desktop{
        .dove-docs-content__toolbar-search__placeholder {
            height: rem-calc(22px);
        }
        .search__placeholder__content {
            opacity: 0.3;
            font-size: rem-calc(13px);
        }
        .search__placeholder__icon {
            opacity: 0.5;
            width: rem-calc(22px);
        }
        &.light {
            .toolbar-search-input {
                height: rem-calc(22px);
                font-size: rem-calc(13px);
                background: white;
                box-shadow: 0 1px 0 0 rgba(black, 0.1), 0 0 0 1px rgba(black, 0.1);
                padding: 0 rem-calc(22px) 1px;
            }
            .toolbar-search-clear {
                background: rgba(black, 0.4);
                margin-left: rem-calc(-5px);
            }
        }
    }
    .dove-docs-content__toolbar-search__placeholder{
            position: absolute;
            top: rem-calc(5px);
            left: 0;
            height: rem-calc(30px);
            display: flex;
            padding-right: rem-calc(10px);
            margin-left: 50%;
            transform: translateX(-50%);
            transition: all 0.2s ease;
            pointer-events: none;
            overflow: hidden;
    }
    .search__placeholder__icon{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: none;
    }
    .search__placeholder__content{
            height: 100%;
            display: flex;
            align-items: center;
            white-space: nowrap;
    }
    .dove-docs-content__toolbar-search__hotSearch{
        display: flex;
        flex-direction: column;
        position: absolute;
        border-radius: rem-calc(5px);
        top: rem-calc(40px);
        left: rem-calc(10px);
        width:rem-calc(300px);
        height: rem-calc(260px);
        border: rem-calc(1px) solid $md-grey-300;
        background: white;
        overflow: auto;
        flex-shrink: 0;
        .dove-docs-content__toolbar-search__hotSearch__title{
            height:rem-calc(30px);
            line-height: rem-calc(30px);
            padding-left: rem-calc(22px);
            border-bottom: rem-calc(1px) solid $md-grey-300;
        }
        .dove-docs-content__toolbar-search__hotSearch__content{
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
            height:rem-calc(30px);
            line-height: rem-calc(30px);
            padding-left: rem-calc(22px);
            cursor: pointer;
            &:hover{
                background-color: $md-blue-200;
                border-radius: rem-calc(5px);
            }
            .hotSearch__content__name{
                margin-left: rem-calc(10px);
            }
        }
    }
}
/* If in focus, left align placeholder */
.toolbar-search-input:focus ~ .dove-docs-content__toolbar-search__placeholder,
.toolbar-search-input:not(:placeholder-shown)~.dove-docs-content__toolbar-search__placeholder{
    margin-left: rem-calc(10px);
    transform: translateX(0%);
}
/* If there is content, show placeholder text */
.toolbar-search-input:not(:placeholder-shown) ~ .dove-docs-content__toolbar-search__placeholder{
    .search__placeholder__content{
        opacity: 0;
    }
}
/* If there is content, show clear button */
.toolbar-search-input:not(:placeholder-shown) + .toolbar-search-actions,
.toolbar-search-input:not(:placeholder-shown):focus + .toolbar-search-actions {
  .toolbar-search-clear {
    opacity: 1;
    pointer-events: auto;
  }
}

.ui-icon-button.dove-docs-content__toolbar-menu-button {
    margin-right: rem-calc(16px);
    display: none;
    cursor: pointer;
}

.dove-docs-content__toolbar-title {
    margin: 0;
    font-weight: normal;
    font-size: 1.3rem;
    user-select: none;
    cursor: pointer;
}

.toolbar-title__sub_fade-enter-active,
.toolbar-title__sub_fade-leave-active {
    transition: opacity .7s;
}

.toolbar-title__sub_fade-enter,
.toolbar-title__sub_fade-leave-to
/* .toolbar-title__sub_fade-leave-active in <2.1.8 */

{
    opacity: 0
}

.dove-docs-content__toolbar-title__sub {
    margin-left: rem-calc(16px);
    margin-bottom: rem-calc(8px);
    padding: rem-calc(8px);
    font-weight: normal;
    font-size: rem-calc(10px);
    user-select: none;
}

.dove-docs-content__toolbar-action {
    margin-left: auto;
    font-size: 0.9rem;
    color: white;
}

.dove-docs-content__page-content {
    background-color: $docs-content-background;
    color: $docs-content-font-color;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    z-index: 0;
}

.ui-button {
    .ui-button__content {
        margin: 0 auto;
    }
}

td,
th {
    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

tbody td:first-child {
    min-width: rem-calc(88px);
}

@media screen and (max-width: $mobile-breakpoint) {
    .dove-docs-content__toolbar-content {
        padding-left: rem-calc(16px);
        padding-right: rem-calc(16px);
    }
    .ui-icon-button.dove-docs-content__toolbar-menu-button {
        display: flex;
    }
    .page {
        padding: rem-calc(16px);
        padding-top: rem-calc(32px);
    }
}