.children__router__content__material{
  display: flex;
  flex-direction:column;
  min-width: 100%;
  height: 100%;
  position: relative;
  a{
    text-decoration: none;
  }
  .ui-confirm{
    display: flex;
    flex-direction: column;
    .children__router__content__material__content__preview{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      img{
        max-width: 40vw;
        max-height: 40vh;
        border: rem-calc(1px) solid $md-grey-300;
        border-radius: rem-calc(8px);
      }
    }
    .children__router__content__material__content__button{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: rem-calc(10px);
      .ui-icon-button {
        width: rem-calc(36px);
        height: rem-calc(36px);
        border-radius: rem-calc(5px);
        border: rem-calc(1px) solid $md-grey-300;
        margin:0 rem-calc(10px);
        .ui-icon-button__icon{
            color:$md-blue-500;
        }
      }
    }
  }
}
.children__router__content__material__label{
  display: flex;
  align-items: center;
  width: 100%;
  height:rem-calc(40px);
}
.children__router__content__material__label__input{
  margin-left:2%;
  display: flex;
  height:rem-calc(30px);
  border: 1px solid $md-grey-300;
  border-radius: rem-calc(5px);
  justify-content:center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.children__router__content__material__hot{
  display: flex;
  align-items: center;
  width: 100%;
  height:rem-calc(28px);
  .children__router__content__material__hot__label{
    width: rem-calc(50px);
    margin-left:2%;
    font-size: rem-calc(12px);
  }
  .children__router__content__material__hot__all{
    display: flex;
    overflow: hidden;
    width: 88%;
    flex-shrink: 0;
    .children__router__content__material__hot__content{
      font-size: rem-calc(12px);
      width: 12.5%;
      height: rem-calc(20px);
      text-align: center;
      border-left: rem-calc(1px) solid $md-grey-300;
      margin-left:rem-calc(-1px);
      .children__router__content__material__hot__text{
        cursor: pointer;
      }
    }
  }
}

.children__router__content__material__content{
  display: flex;
  width: 100%;
  flex-wrap:wrap;
  dl{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100%;
    height: 100%;
    .children__recommendation__showImage__imageCover{
        display: inline-block;
        flex:0 0 18%;
        margin: 1%;
        font-size: rem-calc(12px);
        line-height: 1.4;
        position: relative;
        overflow: hidden;
        border: rem-calc(1px) solid $md-grey-300;
        img{
          width:100%;
          cursor: pointer;
          position: absolute;
          top:0;
          height: 85%;
        }
        .showImage__imageCover__introduce{
          position: absolute;
          bottom: 0;
          width:100%;
          height: 15%;
          font-size: rem-calc(12px);
          margin: 0 rem-calc(5px);
          overflow: hidden;
          word-break: keep-all;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .showImage__imageCover__viewCount__button{
          position: absolute;
          top: 65%;
          height: 20%;
          width: 100%;
          background: -webkit-linear-gradient(right , rgba(100,100,100,0.85), rgba(256,256,256,0));
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          opacity: 0;
          .ui-icon-button {
            margin:0 rem-calc(5px);
          }
          .ui-icon-button:hover{
            background-color: rgba(0,0,0,0);
          }
          .ui-icon-button__icon{
            color:$md-blue-500;
          }
        }
    }
    .children__recommendation__showImage__imageCover::before{
      content: "";
      display: inline-block;
      padding-bottom: 150%;
      width: .1px;
      vertical-align: middle;
    }
  }
  .children__router__content__material__loading{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
  }
  .children__router__content__material__pagination{
    display: flex;
    width: 100%;
    justify-content: center;
  }
}


