.page__toolbar-app-doc__searchname{
  color:$md-blue;
  font-style: 400;
}
.page__toolbar-app-doc__space{
  margin:0 rem-calc(2.5px);
}
.page__toolbar-app-doc__children__router{
  display: flex;
  min-height: 100%;
  border-bottom: 1px solid $md-grey-300;
  dl{
    display: flex;
    flex:1;
    min-height: 100%;
    align-items: center;
    margin: 0;
    a{
      min-width: 25%;
      min-height: 100%;
      display: flex;
      text-decoration: none;
      outline: none;
      dd{
        margin: 0;
        width: 100%;
        font-size: rem-calc(14px);
        color: black;
        display: flex;
        justify-content:center;
        align-items: center;
      }
      dd:hover{
        color: $md-blue;
        cursor: pointer;
      }
      dd.choosed{
        border-bottom: 2px solid $md-blue;
        color: $md-blue;
      }
    }
  }
}
.page__toolbar-app-doc__children__router__content{
  min-height: 100%;
  min-width: 100%;
}



/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: rgb(245,245,247);
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(225,225,226);
  background-color: rgb(225,225,226);
}

.children__recommendation__showImage__imageCover{
  .showImage__imageCover__viewCount{
    position: absolute;
    width:100%;
    height: rem-calc(25px);
    top:0;
    right:0;
    color: white;
    text-align: right;
    line-height: rem-calc(25px);
    background: -webkit-linear-gradient(right , rgba(100,100,100,0.8), rgba(256,256,256,0));
    .showImage__imageCover__viewCount__icon{
      .fa-lg{
        font-size: rem-calc(14px);
        vertical-align:5%;
      }
    }
    .showImage__imageCover__viewCount__content{
      margin:0 rem-calc(5px) 0 rem-calc(2px);
    }
  }
}
