.page__convert__task__item {
  height: rem-calc(120px);

  .ui-alert__content{
      margin-top: rem-calc(-24px);
  }
}
.page__toolbar{
  .ui-modal__container{
    overflow: visible;
    .ui-modal__body{
      overflow-y: visible;
    }
  }
  .page__toolbar-app-doc__input-group{
    display: flex;
    flex-direction: column;
    .page__toolbar-app-doc__input-browse{
      display: flex;
      align-items: center;
      margin-top: rem-calc(14px);
      margin-bottom: rem-calc(20px);
      .ui-button {
        padding: 0;
        margin-left: rem-calc(5px);
        height: rem-calc(26px);
        border-radius: rem-calc(5px);
      }
      .ui-select {
        flex: 1;
        align-items: center;
        margin: 0;
        margin-left:rem-calc(8px) ;
        padding: 0;
        height: rem-calc(25px);
        border-radius: rem-calc(5px);
        border: rem-calc(1px) solid #adadad;
        position: relative;
        .ui-select__display{
          border: 0;
          height: rem-calc(25px);
          .ui-select__dropdown-button{
            margin: 0 auto;
          }
        }
        .ui-select-option{
          height: rem-calc(28px);
        }
        .ui-select-option.is-selected{
          color: rgba(0,0,0,.87);
          background-color: #fff;
          font-weight: 400;
        }
        .ui-select-option:hover{
          background-color: $md-blue;
        }
      }
    }
    .page__toolbar-app-doc__input-cover{
      display: flex;
      .input-group-cover{
        margin-left: rem-calc(4px);
      }
    }
  }
}
