.page__examples-app-doc__welcome__image{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
  .page__examples-app-doc__welcome__image__single{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: rem-calc(40px);
    width: 45VW;
    height: 70VH;
    position:relative;
    padding: rem-calc(10px);
    background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
    border: rem-calc(1px) solid #ccc;
    -webkit-box-shadow: rem-calc(1px) rem-calc(1px) rem-calc(4px) rgba(0,0,0, 0.1);
    -webkit-border-bottom-right-radius: rem-calc(60px) rem-calc(5px);
    // .image__single_ribbon{
    //   position:absolute;
    //   top:0; left: 0;
    //   width: rem-calc(120px);
    //   height: rem-calc(40px);
    //   background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
    //   border-left: 1px dashed rgba(0, 0, 0, 0.1);
    //   border-right: 1px dashed rgba(0, 0, 0, 0.1);
    //   -webkit-box-shadow: 0 0 rem-calc(12px) rgba(0, 0, 0, 0.2);
    //   -webkit-transform: rotate(-30deg) skew(0,0) translate(rem-calc(-30px),rem-calc(-20px));   
    // }
    .page__examples-app-doc__welcome__image__scale{
      display: flex;
      position:relative;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      width: 100%;
      height: 100%;
      zoom: 1;
      img{
        border-radius: rem-calc(5px);
        border: rem-calc(1px) solid $md-grey-300;
        max-width: 40vw;
        max-height: 60vh;
        content:none;
      }
      .image__single__top{
        background-color: rgba(0,0,0, 0.2);
        display: flex;
        width: 100%;
        height: 6vh; 
        position:absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        z-index: 10;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        .image__single__top__message{
          z-index: 100;
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: rem-calc(14px);
          transform: translate(-50%,-50%);
          -webkit-transform:translate(-50%,-50%);
        }
        .fa-check{
          color:$md-green;
        }
        .fa-exclamation{
          color:$md-red;
        }
        .imageBlur{
          filter: blur(5px);
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          -webkit-filter: blur(5px);
          -moz-filter: blur(5px);
        }
        .ui-progress-linear{
          width: 95%;
        }
      }
      .image__single__hint{
        display: flex;
        position:absolute;
        text-align: center;
        width: 100%;
        height: rem-calc(20px);
        bottom: 0;
        .image__single__hint__title{
          left: 0;
          right: 0;
          margin: 0 auto;
        }
      }    
    }
  }
  .page__examples-app-doc__welcome__image__single:before{
    content: '';
    width: 98%;
    z-index:-1;
    height: 100%;
    padding: 0 0 rem-calc(1px) 0;
    position: absolute;
    bottom:0; 
    right:0;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f9f9f9), color-stop(.1,#fff));
    border: rem-calc(1px) solid #ccc;
    -webkit-box-shadow: rem-calc(1px) rem-calc(1px) rem-calc(8px) rgba(0,0,0, 0.1);
    -webkit-border-bottom-right-radius: rem-calc(60px) rem-calc(5px);
    -webkit-transform: skew(2deg,2deg)
                       translate(rem-calc(3px),rem-calc(8px))
  }
  .page__examples-app-doc__welcome__image__single:after{
    content: '';
    width: 98%;
    z-index:-1;
    height: 98%;
    padding: 0 0 1px 0;
    position: absolute;
    bottom:0; 
    right:0;
    background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#f3f3f3), to(#f6f6f6), color-stop(.1,#fff));
    border: rem-calc(1px) solid #ccc;
    -webkit-box-shadow: 0 0 rem-calc(8px) rgba(0,0,0, 0.1);
    -webkit-transform: skew(2deg,2deg)
                       translate(rem-calc(-1px),rem-calc(2px))   
  }
  .page__examples-app-doc__welcome__image__setting{
    display: flex;
    flex-direction: column;
    margin-top: rem-calc(100px);
    margin-left: rem-calc(10px);
    align-self:flex-start;
    border: 1px solid $md-grey-300;
    border-radius: rem-calc(10px);
    box-shadow: 5px 5px 2.5px $md-grey-300;
    .page__examples-app-doc__welcome__image__setting__size{
      display: flex;
      flex-direction: column;
      width: 100%;
      .page__examples-app-doc__welcome__image__setting__width{
        display: flex;
        flex-direction: row;
        margin: rem-calc(10px) 0 rem-calc(5px) 0;
        align-items: center;
        .page__examples-app-doc__welcome__image__setting__width__percentage{
          width: rem-calc(60px);
          text-align: center;
          font-size: rem-calc(11px);
        }
        .page__examples-app-doc__welcome__image__setting__width__unit{
          font-size: rem-calc(11px);
        }
        input{
          width: 40%;
          height: rem-calc(24px);
          border-radius: rem-calc(5px);
          margin: 0 rem-calc(5px);
          padding-left: rem-calc(5px);
          font-size: rem-calc(11px);
        }        
      }
      .page__examples-app-doc__welcome__image__setting__height{
        display: flex;
        flex-direction: row; 
        margin: rem-calc(10px) 0 rem-calc(5px) 0;
        align-items: center;
        .page__examples-app-doc__welcome__image__setting__height__percentage{
          width: rem-calc(60px);
          text-align: center;
          font-size: rem-calc(11px);          
        }
        .page__examples-app-doc__welcome__image__setting__height__unit{
          font-size: rem-calc(11px);
        }
        input{
          width: 40%;
          height: rem-calc(24px);
          border-radius: rem-calc(5px);
          margin: 0 rem-calc(5px);
          padding-left: rem-calc(5px);
          font-size: rem-calc(11px);
        }        
      }
    }
    .page__examples-app-doc__welcome__image__setting__button{
      display: flex;
      flex-direction: row;
      .page__examples-app-doc__welcome__image__setting__keep{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding-left: rem-calc(10px);
      }
      .page__examples-app-doc__welcome__image__setting__reply{
        display: flex;
        width: 20%;
        margin-top: rem-calc(5px);
      }      
    }
    .page__examples-app-doc__welcome__image__setting__adjust{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: rem-calc(30px);
      margin: rem-calc(5px) 0;  
      align-items: flex-end;
      .change-dimensions__adjust__percentage{
        width: rem-calc(60px);
        text-align: center;
        margin-bottom: rem-calc(3px);
        font-size: rem-calc(11px);
      }
      .change-dimensions__adjust__maximum{
        margin-bottom: rem-calc(3px);
        font-size: rem-calc(11px);
      }
      input[type=range]{
        -webkit-appearance: none;
        width: 60%;
        border-radius: rem-calc(10px);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$md-blue-300), color-stop(70%,$md-blue-400), color-stop(100%,$md-blue-500)) no-repeat;
        background-size: 0% 100%;
      }
      input[type=range]::-webkit-slider-runnable-track {
          height: rem-calc(20px);
          border-radius: rem-calc(10px); /*将轨道设为圆角的*/
          border: rem-calc(1px) solid $md-grey-300;
          box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #9e9e9e; /*轨道内置阴影效果*/
      }
      input[type=range]:focus {
          outline: none;
      }
      input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: rem-calc(25px);
          width: rem-calc(25px);
          margin-top: rem-calc(-5px); /*使滑块超出轨道部分的偏移量相等*/
          background: $md-grey-200;
          border-radius: 50%; /*外观设置为圆形*/
          border: rem-calc(1px) solid $md-grey-300; /*设置边框*/
          box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
      }
    }
  }
}