.page-app-doc {
    .page__toolbar-app-doc {
        flex: 1;
        min-height: rem-calc(44px);
        .page__toolbar {
            .page__toolbar__widget {
                display: flex;
            }
            .ui-modal__container {
                overflow: visible;
                .ui-modal__body {
                    overflow-y: visible;
                }
            }
        }
        .ui-confirm {
            background: $global-background;
            font-size: $global-font-size;
            border-radius: rem-calc(4px);
            .ui-modal__container {
                background: $global-background;
                color: $global-font-color;
                .ui-modal__header {
                    background: $global-titlebar-background;
                    color: $global-font-color;
                    h1 {
                        font-size: $global-font-size;
                        display: inline-block;
                    }
                    height: rem-calc(21px);
                    .ui-modal__close-button{
                        display: none;
                    }
                }
                .ui-modal__body {
                    padding-bottom: 0;
                    .ui-confirm__message {
                        font-size: $global-font-size;
                    }
                }
            }

            .page__toolbar-app-doc__input-group {
                display: flex;
                flex-direction: column;
                border: rem-calc(1px) solid #adadad;
                border-radius: rem-calc(8px);
                padding: rem-calc(10px);
                -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.1), 0 6px 10px 0 rgba(0,0,0,.1);
                .page__toolbar-app-doc__input-browse {
                    display: flex;
                    align-items: center;
                    margin-bottom: rem-calc(20px);
                    .ui-button {
                        padding: 0;
                        margin-left: rem-calc(5px);
                        border-radius: rem-calc(5px);
                    }
                    .ui-select {
                        flex: 1;
                        align-items: center;
                        margin: 0;
                        margin-left: rem-calc(8px);
                        padding: 0;
                        height: rem-calc(32px);
                        border-radius: rem-calc(5px);
                        border: rem-calc(1px) solid #adadad;
                        position: relative;
                        .ui-select__dropdown {
                            .ui-select-option {
                                font-size: rem-calc(13px);
                            }
                        }
                        .ui-select__display {
                            border: 0;
                            height: rem-calc(32px);
                            font-size: rem-calc(13px);
                            .ui-select__display-value{
                                padding-left: rem-calc(10px);
                            }
                            .ui-select__dropdown-button {
                                margin: 0 auto;
                            }
                        }
                        .ui-select-option {
                            height: rem-calc(32px);
                        }
                        .ui-select-option.is-selected {
                            color: rgba(0, 0, 0, .87);
                            background-color: #fff;
                            font-weight: 400;
                        }
                        .ui-select-option:hover {
                            background-color: $md-blue;
                        }
                    }
                }
                .page__toolbar-app-doc__input-cover{
                    display: flex;
                    border-bottom: rem-calc(1px) solid #adadad;
                    margin-bottom: rem-calc(10px);
                    .input-group-cover{
                      margin-left: rem-calc(4px);
                    }
                } 
            }
        }


    }
    .page__examples-app-doc {
        overflow-y: auto;
        flex: 358;

        // 每个月面的欢迎页面的样式处理
        .page__examples-app-doc__welcome {
            padding: 12px;
            font-size: rem-calc(12px);

            color: $md-grey-500;
        }

        .ui-alert {
            box-shadow: $shadow-elevation-2dp_-_box-shadow;
            font-size: rem-calc(12px);
        }

        .ui-alert--type-info {
            .ui-alert__body {
                -webkit-box-align: start;
                background: $docs-content__taskitem-background;
                color: $docs-content__taskitem-font-color;
                font-size: rem-calc(13px);
                border-radius: rem-calc(4px);
                border-left: $docs-content__taskitem_normal-boder-left;
                &:hover {
                    background: $docs-content__taskitem-hover-background;
                    color: $docs-content__taskitem-hover-font-color !important;
                }
                &:hover .ui-alert__icon , &:hover .ui-icon-button__icon , &:hover .ui-close-button__icon , &:hover a{
                    color: $docs-content__taskitem-hover-font-color !important;
                }
            }
        }

        .ui-alert--type-success {
            .ui-alert__body {
                -webkit-box-align: start;
                background: $docs-content__taskitem-background;
                color: $docs-content__taskitem-font-color;
                font-size: rem-calc(13px);
                border-radius: rem-calc(4px);
                border-left: $docs-content__taskitem_normal-boder-left;
                &:hover {
                    background: $docs-content__taskitem-hover-background;
                    color: $docs-content__taskitem-hover-font-color !important;
                }
                &:hover .ui-close-button__icon ,&:hover .ui-icon-button__icon {
                    color: $docs-content__taskitem-hover-font-color !important;
                }
            }
            &.isFixedSuccess {
                .ui-alert__body {
                    border-left: $docs-content__taskitem_success-boder-left;
                }
            }
            &.isFixFailed {
                .ui-alert__body {
                    border-left: $docs-content__taskitem_failed-boder-left;
                }
            }
            &.isFixedCancel {
                .ui-alert__body {
                    border-left: $docs-content__taskitem_cancel-boder-left;
                }
            }            
        }
        .page__examples-app-doc__item {
            display: flex;
            flex-direction: column;
            width: 100%;

            .ui-toolbar__top {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                .ui-toolbar__top__metainfo {
                    flex-grow: 2;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center; // 文字越界的处理
                    word-wrap: break-word;
                    word-break: break-all;
                    text-overflow: ellipsis;
                    .ui-toolbar__top__news__title {
                        margin-left: rem-calc(8px);
                    }
                    .ui-toolbar__top__fileName {
                        margin-left: rem-calc(4px);
                        user-select: auto !important;
                    }
                    .ui-toolbar__top__fileSize {
                        margin-left: rem-calc(4px);
                        font-size: rem-calc(11px);
                        user-select: auto !important;
                    }
                }
                .ui-toolbar__top__metainfo__toolbar {
                    flex-grow: 1;
                    align-self: flex-start;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: row;
                    font-size: rem-calc(11px); // 选择框
                    .ui-select__dropdown {
                        position: relative;
                        max-height: rem-calc(3px);
                        .ui-select__search-input {
                            background-color: #fff;
                            font-size: rem-calc(11px);
                        }
                    }
                    .ui-select__display {
                        height: auto !important;
                    }
                    .ui-select__options * {
                        font-size: rem-calc(9px) !important;
                    }
                    .ui-select__display-value {
                        font-size: rem-calc(9px);
                    }
                }
            }
            .ui-toolbar__body {
                display: flex;
                flex-direction: column;
                align-items: flex-start; // 文字越界的处理
                word-wrap: break-word;
                word-break: break-all;
                text-overflow: ellipsis;
                .ui-toolbar__top__taskMessage {
                    margin-left: rem-calc(8px);
                    &.task-item-has-error {
                        color: $docs-content__taskitem_haserror-font-color;
                        user-select: auto !important;
                    }
                    &.task-item-has-cancel{
                        color: $docs-content__taskitem_hascancel-font-color;
                        user-select: auto !important;
                    }
                }
                .ui-toolbar__body__filePath {
                    font-size: rem-calc(10px);
                    padding: rem-calc(4px);
                    user-select: auto !important;
                }
            }
            .ui-toolbar__bottom {
                display: block;
                flex-shrink: 1
            }
        }
    }
    .page__footbar-app-doc {
        bottom: 2px;
        flex: 1;
        min-height: rem-calc(44px);
        background: $page-content__footbar-background;
        border-radius: 8px;
        margin-top: rem-calc(4px);
        margin-bottom: rem-calc(-12px);
        padding: rem-calc(4px);
        cursor: pointer;
        span {
            color: $page-content__footbar-font-color;
            font-size: rem-calc(10px);
            padding: rem-calc(4px);
        }
        &.working {
            background: $page-content__footbar-working-background;
        }
        &.transferNormal {
            background: $page-content__footbar-normal-background;
        }
    }
}
